<mat-toolbar>
  <button mat-icon-button routerLink="/" routerLinkActive="active-link" class="example-icon"
    aria-label="Example icon-button with menu icon">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  </button>
  <span>Book Store | </span>

  <button mat-button [matMenuTriggerFor]="menu" *ngIf="isAdmin()">Admin</button>
  <mat-menu #menu="matMenu">
    <button mat-button routerLink="/admin" routerLinkActive="active-link" *ngIf="isAdmin()">Admin</button>
    <button mat-button routerLink="/admin/books" routerLinkActive="active-link">Books</button>
    <button mat-button routerLink="/admin/authors" routerLinkActive="active-link">Authors</button>

  </mat-menu>
  <span class="example-spacer"></span>

  <button mat-button routerLink="/login" routerLinkActive="active-link" *ngIf="!currentUser?.id">
    <mat-icon aria-label="login icon" fontIcon="login"></mat-icon>
    Sign In
  </button>
  <button mat-button routerLink="/register" routerLinkActive="active-link" *ngIf="!currentUser?.id">
    <mat-icon>touch_app </mat-icon>
    Sign Up
  </button>

  <button mat-button routerLink="/profile" routerLinkActive="active-link" *ngIf="currentUser?.id">
    <mat-icon>account_circle</mat-icon>profile
  </button>

  <button mat-button (click)="logOut()" *ngIf="currentUser?.id">
    <mat-icon aria-label="logout icon" fontIcon="logout" color="warn"></mat-icon>
    Sign Out
  </button>

</mat-toolbar>


<!-- code for spinner credit : https://codepen.io/JosueMagnus12 -->
<div *ngIf="isLoading">

  <body class="centered-flex ">
    <div class="red-shadow">
      <div id="sharingan" class="centered-flex">
        <div id="inner-circle" class="centered-flex">
          <span class="tomoe"></span>
          <span class="tomoe"></span>
          <span class="tomoe"></span>
        </div>
      </div>
    </div>
  </body>
</div>


<p>
  <router-outlet></router-outlet>
</p>



<!--<mat-toolbar color="primary" class="footer" style="left: 0;bottom: 0;width: 100%;">
    <div class="footer-content">
      <p class="center">© 2022 All Rights Reserved. Created with ❤️ by @aizen</p>
    </div>
  </mat-toolbar>-->
