<mat-card>
  <mat-card-header>
    <mat-card-title>Edit Author</mat-card-title>
  </mat-card-header>

  <form #EditedForm="ngForm" (ngSubmit)="onEditAuthor(EditedForm)">
    <mat-card-content>
      <input type="hidden" name="id" [(ngModel)]="editedAuthor.id">
      <p>
        <!-- First Name field -->
        <mat-form-field appearance="outline">
          <mat-label>Enter your fisrt name</mat-label>
          <input matInput name="firstName" placeholder="First Name" [(ngModel)]="editedAuthor.firstName" required>
        </mat-form-field>

        <!-- Last Name field -->
        <mat-form-field appearance="outline">
          <mat-label>Enter your last name</mat-label>
          <input matInput name="lastName" placeholder="Last Name" [(ngModel)]="editedAuthor.lastName" required>
        </mat-form-field>
      </p>
      <p>
        <!-- Birth Date field -->

        <mat-form-field appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" name="birthDate" [(ngModel)]="editedAuthor.birthDate" required>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>
      <p>
        <!-- Address field -->
        <mat-form-field appearance="outline">
          <mat-label>Enter your address</mat-label>
          <input matInput name="address" placeholder="Address" [(ngModel)]="editedAuthor.address" required>
        </mat-form-field>
      </p>

    </mat-card-content>

    <mat-card-actions>
      <button mat-button color="primary" type="submit" [disabled]="EditedForm.invalid">Submit</button>
      <button mat-button type="reset">Reset</button>
    </mat-card-actions>
  </form>

</mat-card>
