<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5 mt-3 mx-auto">
      <mat-card class="rounded" style="border-radius: 15px;">
        <mat-card-content class="p-4">
          <div class="d-flex flex-column flex-md-row text-black">
            <div class="flex-shrink-0">
              <img src="data:image/png;base64,{{currentUser.imageData}}" alt="User Image" class="img-fluid"
                style="max-width: 160px; border-radius: 10px;">
            </div>
            <div class="flex-grow-1 ms-md-3 mt-3 mt-md-0">
              <h5 class="mb-1">{{ currentUser.name }}</h5>
              <p class="mb-2 pb-1" style="color: #2b2a2a;">{{ currentUser.email }}</p>
              <div class="d-flex justify-content-between justify-content-md-start rounded-3 p-2 mb-2"
                style="background-color: #efefef;">
                <div>
                  <p class="small text-muted mb-1">Id</p>
                  <p class="mb-0">{{currentUser.id}}</p>
                </div>
                <div class="px-3">
                  <p class="small text-muted mb-1">Role</p>
                  <p class="mb-0">{{currentUser.role}}</p>
                </div>
                <div>
                  <p class="small text-muted mb-1">Purchase</p>
                  <p class="mb-0">{{purchaseItems.length}}</p>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <button mat-button color="primary" (click)="openEditModal(currentUser)">Edit</button>
                <button mat-button color="primary" (click)="openEditModal(currentUser)">follow</button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-12 col-md-8 col-lg-6 col-xl-7 mx-auto mt-3 mt-md-0">
      <mat-card class="purchase-item-card">
        <mat-card-header>
          <mat-card-title>Purchase Items</mat-card-title>
        </mat-card-header>

        <mat-card-content>

          <!-- Purchase Items Table -->
          <table mat-table [dataSource]="purchaseItems" class="">

            <!-- Column definitions using ng-container -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef>Title</th>
              <td mat-cell *matCellDef="let item">{{ item.title }}</td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Price</th>
              <td mat-cell *matCellDef="let item">{{ item.price | currency:'USD' }}</td>
            </ng-container>

            <ng-container matColumnDef="purchaseTime">
              <th mat-header-cell *matHeaderCellDef>Purchase Time</th>
              <td mat-cell *matCellDef="let item">{{ item.purchaseTime | date: 'medium' }}</td>
            </ng-container>

            <!-- Set row header and keep placeholders for cells by adding *matRowDef and *matHeaderRowDef -->
            <tr mat-header-row *matHeaderRowDef="['title', 'price', 'purchaseTime']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['title', 'price', 'purchaseTime']"></tr>
            <!-- Display Total Price -->
          </table>

        </mat-card-content>

        <mat-card-footer>
          <mat-card-actions>
            <p>
              <td colspan="2" class="total-price">Total:</td>
              <td class="total-price">{{ totalPrice | currency:'USD' }}</td>
            </p>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
