<div class="container mt-4">
  <mat-card style=" display: flex; flex-direction: column; align-items: center;">
    <mat-card-header style="display: flex; flex-direction: column; align-items: center;">
      <mat-icon>lock</mat-icon>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <form (ngSubmit)="login($event)" class="login-form">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Enter your username</mat-label>
        <input matInput placeholder="Username" [(ngModel)]="user.username" name="username" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="password" [(ngModel)]="user.password" name="password"
          required>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <p>
        <button type="submit" mat-raised-button color="primary" class="small-width">Login</button>
      </p>
    </form>

    <p>Don't have an account yet? <a routerLink="/register">Register here!</a></p>
    <!-- Update href to your register page route -->
  </mat-card>
</div>
