<div class="main-content">
  <div class="header bg-gradient-primary pb-8 pt-5 ">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Total Purchases</h5>
                    <span class="h2 font-weight-bold mb-0">{{Purchases.length}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-shopping-basket "></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-{{purchaseChange >= 0 ? 'success' : 'danger'}} mr-2">
                    <i class="fas fa-arrow-{{purchaseChange >= 0 ? 'up' : 'down'}}"></i>
                    {{ purchaseChange | number: '1.2-2' }}%
                  </span>
                  <span class="text-nowrap">Since last month</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Total Authors </h5>
                    <span class="h2 font-weight-bold mb-0">{{Authors.length}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fa fa-edit"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                  <span class="text-nowrap">Since last week</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Total Users</h5>
                    <span class="h2 font-weight-bold mb-0">{{Users!.length}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-{{userChange >= 0 ? 'success' : 'danger'}} mr-2">
                    <i class="fas fa-arrow-{{userChange >= 0 ? 'up' : 'down'}}"></i>
                    {{ userChange | number: '1.2-2' }}%
                  </span>
                  <span class="text-nowrap">Since last month</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Total Books</h5>
                    <span class="h2 font-weight-bold mb-0">{{Books.length}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                      <i class="fas fa-book"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-{{BookChange >= 0 ? 'success' : 'danger'}} mr-2">
                    <i class="fas fa-arrow-{{BookChange >= 0 ? 'up' : 'down'}}"></i>
                    {{ BookChange | number: '1.2-2' }}%
                  </span>
                  <span class="text-nowrap">Since last month</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container-xxl mx-2 my-4">
        <mat-card class="example-card shadow">
          <mat-card-header>
            <mat-card-subtitle>User List</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <!-- Angular Material table component-->
            <mat-table [dataSource]="dataSource" matSort>

              <!-- Define columns with column definitions using ng-container-->
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{ user.id }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{ user.name }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{ user.email }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{ user.username }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="role">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{ user.role }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="createTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Create Time </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{ user.createTime | date:'mediumDate' }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="imageData">
                <mat-header-cell *matHeaderCellDef> user image </mat-header-cell>
                <mat-cell *matCellDef="let user"> <img src="data:image/png;base64,{{user.imageData}}" alt="User Image"
                    class="img-fluid rounded-circle my-1" style="width: 60px; height: 50px;">
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let user">
                  <button mat-icon-button color="primary" (click)="onChangeUserRole(user)"> <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="deleteUser(user.id)"> <mat-icon>delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <!-- Set row header and keep placeholders for cells by adding *matRowDef and *matHeaderRowDef-->
              <mat-header-row
                *matHeaderRowDef="['id', 'name', 'email', 'username', 'role', 'createTime','imageData', 'action']"></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: ['id', 'name', 'email', 'username', 'role', 'createTime','imageData', 'action']"></mat-row>

            </mat-table>
          </mat-card-content>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements"></mat-paginator>

          <mat-card-footer>
            <mat-card-actions>

            </mat-card-actions>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
